<mat-toolbar color="primary">
  <div class="actions">
    <button mat-button class="side-action">
      <mat-icon>dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </button>
  
    <button mat-button class="side-action">
      <mat-icon>person</mat-icon>
      <span class="label">Patient</span>
    </button>
  
    <button mat-button class="side-action">
      <mat-icon>place</mat-icon>
      <span class="label">Clinic</span>
    </button>
  
    <button mat-button class="side-action">
      <mat-icon>attach_money</mat-icon>
      <span class="label">Billing</span>
    </button>
  
    <button mat-button class="side-action">
      <mat-icon>analytics</mat-icon>
      <span class="label">Reports</span>
    </button>
  </div>

  <span class="mat-body version">v1.0</span>
</mat-toolbar>
