<button [matMenuTriggerFor]="menu" mat-button>
  {{ menuInfo.title }} <mat-icon>expand_more</mat-icon>
</button>

<mat-menu
  #menu="matMenu"
  class="workitem-menu"
>
  <div *ngFor="let section of menuInfo.sections" class="section">
    <button
      (click)="createSection(section)"
      color="primary"
      class="title"
      mat-button
    >
      {{ section.title }}
    </button>
    
    <button 
      *ngFor="let workitem of section.workitems"
      (click)="create(workitem)"
      [disabled]="!workitem.component"
      mat-menu-item
    >
      {{ workitem.label }}
    </button>
  </div>
</mat-menu>
