<app-workitem-wrapper
  (onClose)="close()"
  [title]="title"
  [opened]="opened"
>
  <ng-container actions>
    <button (click)="toggle()" color="primary" mat-button>
      <mat-icon>add</mat-icon> Address
    </button>
  </ng-container>

  <ng-container left>
    <table mat-table [dataSource]="(addresses$ | async) ?? []">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ streetAddress(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="city-state-zip">
        <th mat-header-cell *matHeaderCellDef>City / State / Zip</th>
        <td mat-cell *matCellDef="let element">{{ cityStateZip(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" class="square">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-button color="warn" class="square">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="addressColumns.length">
          <app-loader-template [template]="LoaderTemplate.TableRows" [count]="3"></app-loader-template>
        </td>
      </tr>

      <tr mat-header-row *matHeaderRowDef="addressColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: addressColumns;"></tr>
    </table>

    <ng-container *ngIf="addresses$ | async as addresses; else addressesLoading">

    </ng-container>

    <ng-template #addressesLoading>

    </ng-template>
  </ng-container>

</app-workitem-wrapper>
