:host {
  div.item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  
    mat-icon {
      background-color: rgba($color: #0c2678, $alpha: .12);
      padding: 0.25rem;
      margin-right: 0.25rem;
      border-radius: calc(24px + 0.5rem);
    }

    mat-icon.safe {
      background-color: rgba($color: #0c2678, $alpha: .12);
    }

    mat-icon.warn {
      background-color: rgba($color: #0c2678, $alpha: .12);
    }

    mat-icon.danger {
      background-color: rgba($color: #0c2678, $alpha: .12);
    }
  
    .day {
      width: 24px;
      height: 24px;
      
      display: grid;
      place-content: center;
      
      border-radius: 50%;
      padding: 0.25rem;
      font-weight: 500;
  
      background-color: rgba(0, 0, 0, .12);
      color: rgba(0, 0, 0, .38);
    }
    .day.active {
      background-color: #0c2678;
      color: white;
    }
    .day + .day { margin-left: 0.25rem; }
  
    .primary-nephrologist {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 0.25rem;
    }
  
    .text {
      display: flex;
      flex-flow: column wrap;
      .value {
        font-weight: 500;
        line-height: 16px;
      }
      .label {
        color: rgba(0, 0, 0, .38);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }
    }
  
    .item.safe {
      mat-icon {
        background-color: rgba($color: #5cb85c, $alpha: .24); 
        color: #5cb85c;
      }
    }
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}

:host.standard {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 1rem;
}

:host.expanded {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
