mat-card {
  padding: 0;

  mat-card-title-group {
    position: sticky;
    z-index: 1;
    top: 104px;

    padding: 0.5rem 1rem 0.5rem;
    border-radius: 4px;

    background-color: #E1E4EE;

    mat-card-title {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }
  }

  mat-card-content {
    display: flex;
    flex-flow: row nowrap;

    .content-section {
      box-sizing: border-box;
      opacity: 0.5;
      transition: width 0.75s ease-in-out, opacity 0.75s ease-in-out;
    }

    .content-section.visible {
      opacity: 1;
      padding: 1rem;
    }
  }
}