mat-card {
  padding: 0;

  mat-card-title-group {
    position: sticky;
    z-index: 2;
    top: 104px;

    padding: 0.5rem 1rem 0.5rem;
    border-radius: 4px;

    background-color: #E1E4EE;

    mat-card-title {
      font-size: 20px;
      font-weight: 500;
      margin: 0;
    }
  }

  .content-section {
    box-sizing: border-box;
    transition: width 0.75s ease-in-out;
  }

  .content-section.visible { padding: 1rem; }
  .content-section.nested { padding: 0; }
  mat-divider.nested { margin: 0 1rem; }

  mat-card-content.side {
    display: flex;
    flex-flow: row nowrap;

    .content-section {
      opacity: 0.25;
      transition: width 0.75s ease-in-out, opacity 0.75s ease-in-out;
    }

    .content-section.visible {
      opacity: 1;
    }
  }

  mat-card-content.over {
    display: grid;

    .content-section {
      grid-area: 1 / 1;
    }
    
    .content-section.overlay {
      background-color: white;
      justify-self: end;
      z-index: 3;
    }

    .content-section.partial-width {
      border-left: 1px solid rgba($color: #000000, $alpha: 0.12);
    }
  }
}