<mat-card [class.mat-elevation-z0]="isNested" class="work-item">
  <mat-card-title-group *ngIf="!isNested" class="center-title">
    <mat-card-title>{{ headerTitle }}</mat-card-title>

    <span spacer></span>

    <ng-content select="[actions]"></ng-content>

    <button *ngIf="isClosable" (click)="close()" color="warn" class="square" mat-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-title-group>

  <mat-card-content>
    <div
      [style.width.%]="leftWidth"
      [class.visible]="left"
      class="content-section"
    >
      <ng-content *ngIf="left" select="[left]"></ng-content>
    </div>

    <mat-divider *ngIf="left && right" [vertical]="true"></mat-divider>

    <div
      [style.width.%]="rightWidth"
      [class.visible]="right"
      class="content-section"
    >
      <ng-content *ngIf="right" select="[right]"></ng-content>
    </div>
  </mat-card-content>
</mat-card>
