:host {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1rem;
  padding: 0 1rem 1rem;

  mat-card.patient {
    position: sticky;
    top: 0px;
    z-index: 1;
    border-radius: 0 0 4px 4px;

    mat-card-header {
      mat-card-title {
        margin: 0;
      }
      mat-card-subtitle {
        margin: 0;
      }

      .information {
        flex-grow: 1;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        .item {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          mat-icon {
            background-color: rgba($color: #0c2678, $alpha: .12);
            padding: 0.25rem;
            margin-right: 0.25rem;
            border-radius: calc(24px + 0.5rem);
          }

          .day {
            width: 24px;
            height: 24px;
            
            display: grid;
            place-content: center;
            
            border-radius: 50%;
            padding: 0.25rem;
            font-weight: 500;

            background-color: rgba(0, 0, 0, .12);
            color: rgba(0, 0, 0, .38);
          }
          .day.active {
            background-color: #0c2678;
            color: white;
          }

          .day + .day { margin-left: 0.25rem; }

          .primary-nephrologist-image {
            width: 32px;
            height: 32px;

            margin-right: 0.25rem;

            border-radius: 16px;

            background-image: url('https://images.unsplash.com/photo-1559839734-2b71ea197ec2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
            background-size: cover;
            background-position: center center;
          }

          .title {
            display: flex;
            flex-flow: column wrap;
            .name {
              font-weight: 500;
              line-height: 16px;
            }
            .position {
              color: rgba(0, 0, 0, .38);
              font-weight: 500;
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
        .item.chip {
          background-color: rgba(0, 0, 0, .12);
          border-radius: calc(20px + 1rem);
          padding: 0.35rem 1.25rem 0.35rem 0.35rem;
          mat-icon { margin-right: 0.25rem; }
        }

        .item.chip.safe {
          background-color: rgba($color: #5cb85c, $alpha: .12);
          
          mat-icon {
            background-color: rgba($color: #5cb85c, $alpha: .24); 
            color: #5cb85c;
          }
        }
      }
    }

    mat-card-actions {
      display: flex;

      button.mat-button {
        display: flex;
        margin: 0;
      }
    }

    .example-header-image {
      background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
      background-size: cover;
    }
  }
}