<mat-card class="patient">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>John Doe</mat-card-title>
    <mat-card-subtitle>12345</mat-card-subtitle>

    <div class="information">
      <div class="item">
        <div class="day">Mo</div>
        <div class="day active">Tu</div>
        <div class="day">We</div>
        <div class="day active">Th</div>
        <div class="day">Fr</div>
        <div class="day active">Sa</div>
        <div class="day">Su</div>
      </div>

      <div class="item">
        <div class="primary-nephrologist example-header-image"></div>
        <div class="text">
          <span class="label">Primary Nephrologist</span>
          <span class="value">Dr. Mary Smith</span>
        </div>
      </div>
  
      <div class="item safe">
        <mat-icon>check</mat-icon>

        <div class="text">
          <span class="label">Allergies / Adverse Reactions</span>
          <span class="value">No Known Allergies</span>
        </div>
      </div>

      <div class="item">
        <mat-icon color="primary">place</mat-icon>
        <div class="text">
          <span class="label">Home Clinic</span>
          <span class="value">Acme Acute (DEV) - 000002</span>
        </div>
      </div>

      <div class="item">
        <mat-icon color="primary">male</mat-icon>
        <div class="text">
          <span class="label">Sex</span>
          <span class="value">Male</span>
        </div>
      </div>

      <div class="item">
        <mat-icon color="primary">cake</mat-icon>
        <div class="text">
          <span class="label">Date of Birth</span>
          <span class="value">01/03/1987</span>
        </div>
      </div>
      
      <div>
        <button mat-button class="square">
          <mat-icon>expand_more</mat-icon>
        </button>
  
        <button mat-button color="warn" class="square">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-actions>
    <ng-container *ngIf="menus$ | async as menus; else menusLoading">
      <ng-container *ngFor="let menu of menus">
        <app-menu (onCreate)="createWorkItem($event)" [menuInfo]="menu"></app-menu>
      </ng-container>

      <span spacer></span>

      <button mat-button disabled color="warn">
        Close Work Items <mat-icon>close</mat-icon>
      </button>
    </ng-container>

    <ng-template #menusLoading>
      <app-loader-template [template]="LoaderTemplate.Menu"></app-loader-template>
    </ng-template>
  </mat-card-actions>
</mat-card>

<ng-template #workItems></ng-template>
