:host {
  display: grid;
  grid-template-areas: 
  "patient-header"
  "none";
  grid-auto-flow: row;
  row-gap: 1rem;
  padding: 0 1rem 1rem;

  app-patient-header {
    grid-area: patient-header;

    position: sticky;
    top: 0px;
    z-index: 3;
  }

  .border {
    grid-area: patient-header;

    position: sticky;
    top: 0;
    z-index: 1;

    height: 108px;
    width: 100%;
    
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
}