<mat-card class="patient">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>John Doe</mat-card-title>
    <mat-card-subtitle>12345</mat-card-subtitle>

    <div class="information">
      <div class="item">
        <mat-icon color="primary">male</mat-icon>
        Male
      </div>

      <div class="item">
        <mat-icon color="primary">cake</mat-icon>
        01/03/1987
      </div>
      
      <div class="item">
        <mat-icon color="primary">place</mat-icon> Acme Acute (DEV) - 000002
      </div>

      <div class="item">
        <div class="day">Mo</div>
        <div class="day active">Tu</div>
        <div class="day">We</div>
        <div class="day active">Th</div>
        <div class="day">Fr</div>
        <div class="day active">Sa</div>
        <div class="day">Su</div>
      </div>

      <div class="item chip">
        <div class="primary-nephrologist-image"></div>
        <div class="title">
          <span class="position">Primary Nephrologist</span>
          <span class="name">Dr. Mary Smith</span>
        </div>
      </div>
  
      <div class="item chip safe">
        <mat-icon>check</mat-icon>

        <div class="title">
          <span class="position">Allergies / Adverse Reactions</span>
          <span class="name">No Known Allergies</span>
        </div>
      </div>

      <div>
        <button mat-button>
          <mat-icon>expand_more</mat-icon>
        </button>
  
        <button mat-button color="warn">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-header>

  <mat-card-actions>
    <button 
      #demographicsTrigger="matMenuTrigger"
      [matMenuTriggerFor]="demographicsMenu"
      mat-button
    >
      Demographics <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu
      #demographicsMenu="matMenu"
      class="workitem-menu"
    >
      <div *ngFor="let section of demographics" class="section">
        <button mat-button color="primary" class="title">{{ section.title }}</button>
        <button *ngFor="let workitem of section.workitems" mat-menu-item>{{ workitem.label }}</button>
      </div>
    </mat-menu>

    <button
      #clinicalInformationTrigger="matMenuTrigger"
      [matMenuTriggerFor]="clinicalInformationMenu"
      mat-button 
    >
      Clinical Information <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu 
      #clinicalInformationMenu="matMenu"
      class="workitem-menu"
    >
      <div *ngFor="let section of clinicalInformation" class="section">
        <button mat-button color="primary" class="title">{{ section.title }}</button>
        <button *ngFor="let workitem of section.workitems" mat-menu-item>{{ workitem.label }}</button>
      </div>
    </mat-menu>

    <button
      #ordersTrigger="matMenuTrigger"
      [matMenuTriggerFor]="ordersMenu"
      mat-button
    >
      Orders <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu
      #ordersMenu="matMenu"
      class="workitem-menu"
    >
      <div *ngFor="let section of orders" class="section">
        <button mat-button color="primary" class="title">{{ section.title }}</button>
        <button *ngFor="let workitem of section.workitems" mat-menu-item>{{ workitem.label }}</button>
      </div>
    </mat-menu>

    <button
      #docmentsTrigger="matMenuTrigger"
      [matMenuTriggerFor]="docmentsMenu"
      mat-button
    >
      Documents <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu
      #docmentsMenu="matMenu"
      class="workitem-menu"
    >
      <div *ngFor="let section of documents" class="section">
        <button mat-button color="primary" class="title">{{ section.title }}</button>
        <button *ngFor="let workitem of section.workitems" mat-menu-item>{{ workitem.label }}</button>
      </div>
    </mat-menu>


    <button
      #workflowsTrigger="matMenuTrigger"
      [matMenuTriggerFor]="workflowsMenu"
      mat-button
    >
      Workflows <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu
      #workflowsMenu="matMenu"
      class="workitem-menu"
    >
      <div *ngFor="let section of workflows" class="section">
        <button mat-button color="primary" class="title">{{ section.title }}</button>
        <button *ngFor="let workitem of section.workitems" mat-menu-item>{{ workitem.label }}</button>
      </div>
    </mat-menu>

    <button
      #resourcesTrigger="matMenuTrigger"
      [matMenuTriggerFor]="resourcesMenu"
      mat-button
    >
      Resources <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu
      #resourcesMenu="matMenu"
      class="workitem-menu"
    >
      <div *ngFor="let section of resources" class="section">
        <button mat-button color="primary" class="title">{{ section.title }}</button>
        <button *ngFor="let workitem of section.workitems" mat-menu-item>{{ workitem.label }}</button>
      </div>
    </mat-menu>

    <span spacer></span>

    <button mat-button disabled color="warn">
      Close Work Items <mat-icon>close</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
