<app-patient-header-wapper [patient$]="patient$" [default]="modeDefault">
  <ng-container information>
    <app-patient-information [patient$]="patient$" [properties]="standardProperties"></app-patient-information>
  </ng-container>

  <ng-container additionInformation>
    <app-patient-information [patient$]="patient$" [properties]="expandedProperties"></app-patient-information>
  </ng-container>

  <ng-container collapsedMenu>
    <app-mega-menu
      (onCreateWorkItem)="createWorkItem($event)"
      (onCreateWorkItems)="createWorkItems($event)"
      (onDeleteWorkItems)="deleteWorkItems()"
    ></app-mega-menu>
  </ng-container>

  <ng-container standardMenu>
    <app-mega-menu
      (onCreateWorkItem)="createWorkItem($event)"
      (onCreateWorkItems)="createWorkItems($event)"
      (onDeleteWorkItems)="deleteWorkItems()"
    ></app-mega-menu>
  </ng-container>
</app-patient-header-wapper>
