button.mat-button.side-action {
  width: 64px;
  height: 64px;

  padding: 0;

  span.mat-button-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    span.label {
      line-height: normal;
      font-size: 10px;
      font-weight: 400;
    }
  }
}

button.mat-button.square {
  min-width: 36px;
  padding: 0;
}

button.mat-button.item {
  padding: 0 0.25rem;

  border-radius: 20px 4px 4px 20px;

  .mat-button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    mat-icon {
      background-color: rgba($color: #0c2678, $alpha: .12);
      padding: 0.25rem;
      margin-right: 0.25rem;
      border-radius: calc(24px + 0.5rem);
    }

    .text {
      display: flex;
      flex-flow: column wrap;
      text-align: left;

      .label {
        color: rgba(0, 0, 0, .38);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }
      .value {
        font-weight: 500;
        line-height: 16px;
      }
    }
  }
}

mat-button-toggle-group.load-time {
  .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 28px;
  }
}
