:host {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "header header"
  "left content";

  .header {
    grid-area: header;
    height: auto;
  }

  .left {
    grid-area: left;
  }
  
  .content {
    grid-area: content;
    overflow: overlay;
    background-color: #d0d4f4;
  }

  .loading-state {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}