mat-toolbar {
  height: 42px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo location actions";

  padding: 0 0 0 0.5rem;

  .logo {
    grid-area: logo;
    display: flex;
    flex-flow: row nowrap;

    .subtitle {
      color:#43ccf7;
    }
  }

  .location {
    grid-area: location;
    justify-self: center;
  }

  .actions {
    grid-area: actions;
    .action {
      aspect-ratio: 1 / 1;
      min-width: 42px;
      align-self: end;
      padding: 0;
    }
  }

}