<mat-toolbar color="primary">
  <div class="logo">
    <span class="title">DARWIN</span>
    <span class="subtitle">EHR</span>
  </div>

  <button mat-button class="location">
    <mat-icon>place</mat-icon>
    Nashville (DEV) - 000002
    <mat-icon>expand_more</mat-icon>
  </button>

  <div class="actions">
    <button mat-button class="action">
      <mat-icon>settings</mat-icon>
    </button>
  
    <button mat-button class="action">
      <mat-icon>apps</mat-icon>
    </button>
  
    <button mat-button class="action">
      <mat-icon>help</mat-icon>
    </button>
  
    <button mat-button class="action">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
