<app-workitem-wrapper
  (onClose)="close()"
  [headerTitle]="title"
  [isOpen]="opened"
  [isNested]="isNested"
  [width]="40"
>
  <ng-container actions>
    <button (click)="add()" color="primary" mat-button>
      <mat-icon>add</mat-icon> Admission
    </button>
  </ng-container>

  <ng-container left>
    <ng-container *ngIf="!error && !(admissionsModalities$ | async)">
      <app-loader-template [template]="LoaderTemplate.AdmissionModalities" [count]="3"></app-loader-template>
    </ng-container>

    <ng-container *ngIf="admissionsModalities$ | async as admissionsModalities">
      <mat-card
        *ngFor="let admissionModality of admissionsModalities"
        [class.selected]="isSelected(admissionModality)"
        class="mat-elevation-z0 admission-modality"
      >
        <mat-card-title-group>
          <mat-card-title>{{ admissionModality.location.name }}</mat-card-title>
          <mat-card-subtitle>
            <span class="reason">{{ admissionModality.admissionReason }}</span>
            <mat-icon>arrow_right</mat-icon>
            <span>{{ admissionModality.admissionDate | date:'MM/dd/yyyy' }} - {{ admissionModality.dischargeDate ? (admissionModality.dischargeDate | date:'MM/dd/yyyy') : 'present' }}</span>
          </mat-card-subtitle>
        
          <div class="actions">
            <mat-chip-list *ngIf="admissionModality.hospitalServices">
              <mat-chip [selectable]="false">Hospital Services</mat-chip>
            </mat-chip-list>
  
            <button
              (click)="edit(admissionModality)"
              color="primary"
              class="square"
              mat-button
            >
              <mat-icon>edit</mat-icon>
            </button>
  
            <button color="warn" class="square" mat-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
  
        </mat-card-title-group>
  
        <mat-card-content *ngIf="hasModalitiesOrNephrologists(admissionModality)">
          <mat-accordion multi>
            <mat-expansion-panel *ngIf="hasModalities(admissionModality)" class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Modalities</mat-panel-title>
                
                <mat-panel-description>
                  <div>
                    <span class="type-name">{{ admissionModality.modalities[0].type }}</span> - <span>{{ admissionModality.modalities[0].startDate | date:'MM/dd/yyyy' }}</span>
                  </div>
                  <button mat-button color="primary">
                    <mat-icon>add</mat-icon> Modality
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
  
            <mat-expansion-panel *ngIf="hasNephrologists(admissionModality)" class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Nephrologists</mat-panel-title>
                
                <mat-panel-description>
                  <div>
                    <span class="type-name">{{ admissionModality.nephrologists[0].name }}</span> - <span>{{ admissionModality.nephrologists[0].startDate | date:'MM/dd/yyyy' }}</span>
                  </div>
                  <button mat-button color="primary">
                    <mat-icon>add</mat-icon> Nephrologist
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="error && !(admissionsModalities$ | async)">
      <div class="error">
        <button (click)="retry()" color="warn" mat-button>
          {{ error }}. Retry?
        </button>
      </div>
    </ng-container>
  </ng-container>
  
  <ng-container right>
    <mat-tab-group class="work-item" mat-stretch-tabs dynamicHeight>
      <mat-tab label="Detail">
        <app-admissions-modalities-form
          (onCancel)="cancel()"
          [admissionModality]="selected$ | async"
        ></app-admissions-modalities-form>
      </mat-tab>
      <mat-tab disabled label="History"></mat-tab>
    </mat-tab-group>
  </ng-container>
</app-workitem-wrapper>