<app-workitem-wrapper
  (onClose)="close()"
  [title]="title"
  [opened]="opened"
>
  <ng-container actions>
    <button (click)="toggle()" color="primary" mat-button>
      <mat-icon>add</mat-icon> Admission
    </button>
  </ng-container>

  <ng-container left>
    <ng-container *ngIf="admissionsModalities$ | async as admissionsModalities; else loadingAdmissionsModalities">
      <mat-card *ngFor="let admissionModality of admissionsModalities" class="mat-elevation-z0 admission-modality">
        <mat-card-title-group>
          <mat-card-title>{{ admissionModality.location.name }}</mat-card-title>
          <mat-card-subtitle>
            <span class="reason">{{ admissionModality.admissionReason }}</span>
            <mat-icon>arrow_right</mat-icon>
            <span>{{ admissionModality.admissionDate | date:'MM/dd/yyyy' }} - {{ admissionModality.dischargeDate ? (admissionModality.dischargeDate | date:'MM/dd/yyyy') : 'present' }}</span>
          </mat-card-subtitle>
        
          <div class="actions">
            <mat-chip-list *ngIf="admissionModality.hospitalServices">
              <mat-chip [selectable]="false">Hospital Services</mat-chip>
            </mat-chip-list>

            <button mat-button color="primary" class="square">
              <mat-icon>edit</mat-icon>
            </button>
  
            <button mat-button color="warn" class="square">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </mat-card-title-group>

        <mat-card-content *ngIf="hasModalitiesOrNephrologists(admissionModality)">
          <mat-accordion multi>
            <mat-expansion-panel *ngIf="hasModalities(admissionModality)" class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Modalities</mat-panel-title>
                
                <mat-panel-description>
                  <span>{{ admissionModality.modalities[0].type }} - {{ admissionModality.modalities[0].startDate | date:'MM/dd/yyyy' }}</span>
                  <button mat-button color="primary">
                    <mat-icon>add</mat-icon> Modality
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="hasNephrologists(admissionModality)" class="mat-elevation-z0">
              <mat-expansion-panel-header>
                <mat-panel-title>Nephrologists</mat-panel-title>
                
                <mat-panel-description>
                  <span>{{ admissionModality.nephrologists[0].name }} - {{ admissionModality.nephrologists[0].startDate | date:'MM/dd/yyyy' }}</span>
                  <button mat-button color="primary">
                    <mat-icon>add</mat-icon> Nephrologist
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>

    </ng-container>

    <ng-template #loadingAdmissionsModalities>

    </ng-template>
  </ng-container>
  
  <ng-container right>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </ng-container>
</app-workitem-wrapper>