<ng-container *ngIf="!error && (!(locations$ | async) || !(admissionReasons$ | async))">
  <app-loader-template [template]="LoaderTemplate.AdmissionModalityForm"></app-loader-template>
</ng-container>

<ng-container *ngIf="(locations$ | async) && (admissionReasons$ | async)">
  <form [formGroup]="group">
    <mat-form-field compact class="full">
      <mat-label>Location</mat-label>
      <mat-select formControlName="location" [compareWith]="compareLocations">
        <mat-option *ngFor="let location of (locations$ | async) ?? []" [value]="location">
          {{ location.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field compact>
      <mat-label>Admission Date</mat-label>
      <input matInput [matDatepicker]="admissionPicker" formControlName="admissionDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="admissionPicker"></mat-datepicker-toggle>
      <mat-datepicker #admissionPicker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field compact>
      <mat-label>Admission Reason</mat-label>
      <mat-select formControlName="admissionReason">
        <mat-option *ngFor="let reason of (admissionReasons$ | async) ?? []" [value]="reason">
          {{ reason }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-checkbox color="primary" class="full">Admission is Transient</mat-checkbox>
  
    <mat-form-field compact class="full">
      <mat-label>Primary Nephrologist</mat-label>
      <mat-select>
        <mat-option value="1">Nashville (DEV)</mat-option>
        <mat-option value="2">Chattanooga (DEV)</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field compact class="full">
      <mat-label>Modality</mat-label>
      <mat-select>
        <mat-option value="1">Nashville (DEV)</mat-option>
        <mat-option value="2">Chattanooga (DEV)</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field compact>
      <mat-label>Discharge Date</mat-label>
      <input matInput [matDatepicker]="dischargePicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dischargePicker"></mat-datepicker-toggle>
      <mat-datepicker #dischargePicker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field compact>
      <mat-label>Discharge Reason</mat-label>
      <mat-select>
        <mat-option value="1">Nashville (DEV)</mat-option>
        <mat-option value="2">Chattanooga (DEV)</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  
  <div class="actions">
    <button (click)="cancel()" mat-stroked-button>
      <mat-icon>close</mat-icon> Cancel    
    </button>
    
    <button color="primary" mat-flat-button>
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
</ng-container>

<ng-container *ngIf="error && (!(locations$ | async) || !(admissionReasons$ | async))">
  <div class="error">
    <button (click)="retry()" color="warn" mat-button>
      {{ error }}. Retry?
    </button>
  </div>
</ng-container>


