<form [formGroup]="group">
  <mat-form-field compact class="full">
    <mat-label>{{ failure('location') || (locations$ | async) ? 'Location' : 'Loading Locations...' }}</mat-label>
    <mat-select [compareWith]="compareLocations" formControlName="location">
      <mat-option *ngIf="location?.value && !(locations$ | async)" [value]="location?.value">
        {{ location?.value.name }}
      </mat-option>

      <ng-container *ngIf="locations$ | async as locations">
        <mat-option *ngFor="let location of locations" [value]="location">
          {{ location.name }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-spinner *ngIf="!failure('location') && !(locations$ | async)" [diameter]="16" matSuffix></mat-spinner>
    <mat-hint *ngIf="failure('location')" class="failed">{{ failure('location') }}</mat-hint>
  </mat-form-field>

  <mat-form-field compact>
    <mat-label>Admission Date</mat-label>
    <input matInput [matDatepicker]="admissionPicker" formControlName="admissionDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="admissionPicker"></mat-datepicker-toggle>
    <mat-datepicker #admissionPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field compact>
    <mat-label>{{ failure('admissionReason') || (admissionReasons$ | async) ? 'Admission Reason' : 'Loading Admission Reasons...' }}</mat-label>
    <mat-select formControlName="admissionReason">
      <mat-option *ngIf="admissionReason?.value && !(admissionReasons$ | async)" [value]="admissionReason?.value">
        {{ admissionReason?.value }}
      </mat-option>

      <ng-container *ngIf="admissionReasons$ | async as reasons">
        <mat-option *ngFor="let reason of reasons" [value]="reason">
          {{ reason }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-spinner *ngIf="!failure('admissionReason') && !(admissionReasons$ | async)" [diameter]="16" matSuffix></mat-spinner>
    <mat-hint *ngIf="failure('admissionReason')" class="failed">{{ failure('admissionReason') }}</mat-hint>
  </mat-form-field>

  <mat-checkbox formControlName="isTransient" color="primary" class="full">Admission is Transient</mat-checkbox>

  <mat-form-field compact class="full">
    <mat-label>{{ failure('primaryNephrologist') || (nephrologists$ | async) ? 'Primary Nephrologist' : 'Loading Nephrologists...' }}</mat-label>
    <mat-select [compareWith]="compareNephrologists" formControlName="primaryNephrologist">
      <mat-option *ngIf="primaryNephrologist?.value && !(nephrologists$ | async)" [value]="primaryNephrologist?.value">
        {{ primaryNephrologist?.value.name }}
      </mat-option>

      <ng-container *ngIf="nephrologists$ | async as nephrologists">
        <mat-option *ngFor="let nephrologist of nephrologists" [value]="nephrologist">
          {{ nephrologist.name }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-spinner *ngIf="!failure('primaryNephrologist') && !(nephrologists$ | async)" [diameter]="16" matSuffix></mat-spinner>
    <mat-hint *ngIf="failure('primaryNephrologist')" class="failed">{{ failure('primaryNephrologist') }}</mat-hint>
  </mat-form-field>

  <mat-form-field compact class="full">
    <mat-label>{{ failure('modality') || (modalities$ | async) ? 'Modality' : 'Loading Modalities...' }}</mat-label>
    <mat-select [compareWith]="compareModalities" formControlName="modality">
      <mat-option *ngIf="modality?.value && !(modalities$ | async)" [value]="modality?.value">
        {{ modality?.value.type }}
      </mat-option>

      <ng-container *ngIf="modalities$ | async as modalities">
        <mat-option *ngFor="let modality of modalities" [value]="modality">
          {{ modality.type }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-spinner *ngIf="!failure('modality') && !(modalities$ | async)" [diameter]="16" matSuffix></mat-spinner>
    <mat-hint *ngIf="failure('modality')" class="failed">{{ failure('modality') }}</mat-hint>
  </mat-form-field>

  <mat-form-field compact>
    <mat-label>Discharge Date</mat-label>
    <input matInput [matDatepicker]="dischargePicker" formControlName="dischargeDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="dischargePicker"></mat-datepicker-toggle>
    <mat-datepicker #dischargePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field compact>
    <mat-label>{{ failure('dischargeReason') || (dischargeReasons$ | async) ? 'Discharge Reason' : 'Loading Discharge Reasons...' }}</mat-label>
    <mat-select formControlName="dischargeReason">
      <mat-option *ngIf="dischargeReason?.value && !(dischargeReasons$ | async)" [value]="dischargeReason?.value">
        {{ dischargeReason?.value }}
      </mat-option>

      <ng-container *ngIf="dischargeReasons$ | async as dischargeReasons">
        <mat-option *ngFor="let reason of dischargeReasons" [value]="reason">
          {{ reason }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-spinner *ngIf="!failure('dischargeReason') && !(dischargeReasons$ | async)" [diameter]="16" matSuffix></mat-spinner>
    <mat-hint *ngIf="failure('dischargeReason')" class="failed">{{ failure('dischargeReason') }}</mat-hint>
  </mat-form-field>
</form>

<div class="actions">
  <button *ngIf="hasFailed" (click)="retry()" color="warn" mat-button>
    {{ hasFailed }}. Retry?
  </button>

  <span spacer></span>

  <button (click)="cancel()" mat-stroked-button>
    <mat-icon>close</mat-icon> Cancel
  </button>

  <button [disabled]="!(locations$ | async) || !(admissionReasons$ | async) || !(nephrologists$ | async) || !(modalities$ | async)" color="primary" mat-flat-button>
    <ng-container *ngIf="!hasFailed && (!(locations$ | async) || !(admissionReasons$ | async) || !(nephrologists$ | async) || !(modalities$ | async)); else saveable">
      <mat-spinner [diameter]="18"></mat-spinner>
    </ng-container>

    <ng-template #saveable>
      <mat-icon>save</mat-icon> Save
    </ng-template>
  </button>
</div>