.information {
  display: grid;
  grid-auto-flow: column;

  .item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    mat-icon {
      background-color: rgba($color: #0c2678, $alpha: .12);
      padding: 0.25rem;
      margin-right: 0.25rem;
      border-radius: calc(24px + 0.5rem);
    }

    .title {
      display: flex;
      flex-flow: column wrap;
      .label {
        color: rgba(0, 0, 0, .38);
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }
      .value {
        font-weight: 500;
        line-height: 16px;
      }
    }
  }
  
  .item + .item {
    margin-left: 0.75rem;
  }
}